USE GD1C2019
GO

--************CREACION DE SCHEMA**************
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'TROLLS')
	BEGIN
		EXEC sys.sp_executesql N'CREATE SCHEMA TROLLS AUTHORIZATION gdCruceros2019'
		PRINT 'Schema correctamente creado'

	END

GO

--****************DROP DE PROCEDURES*************
IF OBJECT_ID('TROLLS.BUSCAR_USUARIO', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.BUSCAR_USUARIO
GO
IF OBJECT_ID('TROLLS.REG_INTENTO_FALLIDO', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.REG_INTENTO_FALLIDO
GO
IF OBJECT_ID('TROLLS.OBTENER_ID_USUARIO', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.OBTENER_ID_USUARIO
GO
IF OBJECT_ID('TROLLS.OBTENER_USUARIO', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.OBTENER_USUARIO
GO
IF OBJECT_ID('TROLLS.OBTENER_CANT_ROLES', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.OBTENER_CANT_ROLES
GO
IF OBJECT_ID('TROLLS.GUARDAR_ROL', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.GUARDAR_ROL
GO
IF OBJECT_ID('TROLLS.ELIMINAR_ROL', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.ELIMINAR_ROL
GO
IF OBJECT_ID('TROLLS.OBTENER_ID_X_NOMBRE', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.OBTENER_ID_X_NOMBRE
GO
IF OBJECT_ID('TROLLS.AGREGAR_FUNCIONALIDAD_A_ROL', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.AGREGAR_FUNCIONALIDAD_A_ROL
GO
IF OBJECT_ID('TROLLS.ELIMINAR_FUNCIONALIDAD_A_ROL', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.ELIMINAR_FUNCIONALIDAD_A_ROL
GO
IF OBJECT_ID('TROLLS.LISTAR_FUNCIONES_X_ROL', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.LISTAR_FUNCIONES_X_ROL 
GO
IF OBJECT_ID('TROLLS.LISTAR_FUNCIONES_X_ROL_NO_ASIGNADAS', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.LISTAR_FUNCIONES_X_ROL_NO_ASIGNADAS
GO
IF OBJECT_ID('TROLLS.LISTAR_AFILIADOS_EXISTENTES', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.LISTAR_AFILIADOS_EXISTENTES
GO
IF OBJECT_ID('TROLLS.OBTENER_ROLES_ACTIVOS', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.OBTENER_ROLES_ACTIVOS
GO
IF OBJECT_ID('TROLLS.OBTENER_FUNCIONALIDADES_ROL', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.OBTENER_FUNCIONALIDADES_ROL
GO

IF OBJECT_ID('TROLLS.CREAR_USUARIO', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.CREAR_USUARIO
GO

IF OBJECT_ID('TROLLS.CREAR_DIRECCION', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.CREAR_DIRECCION
GO

IF OBJECT_ID('TROLLS.OBTENER_ID_DIRECCION', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.OBTENER_ID_DIRECCION
GO

IF OBJECT_ID('TROLLS.CREAR_CLIENTE', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.CREAR_CLIENTE
GO

IF OBJECT_ID('TROLLS.CREAR_EMPRESA', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.CREAR_EMPRESA
GO

IF OBJECT_ID('TROLLS.CREAR_ROLxUSUARIO', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.CREAR_ROLxUSUARIO
GO

IF OBJECT_ID('TROLLS.OBTENER_CLIENTE', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.OBTENER_CLIENTE
GO

IF OBJECT_ID('TROLLS.OBTENER_DIRECCION', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.OBTENER_DIRECCION
GO

IF OBJECT_ID('TROLLS.MODIFICAR_CLIENTE', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.MODIFICAR_CLIENTE
GO

IF OBJECT_ID('TROLLS.MODIFICAR_DIRECCION', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.MODIFICAR_DIRECCION
GO

-----------------------------------------------------ABM CLIENTE--------------------------------------------------------

if EXISTS (SELECT * FROM sysobjects WHERE name='st_buscar_clientes') 
drop procedure TROLLS.st_buscar_clientes

go

if EXISTS (SELECT * FROM sysobjects WHERE name='st_agregar_cliente') 
drop procedure TROLLS.st_agregar_cliente

go

if EXISTS (SELECT * FROM sysobjects WHERE name='st_modificar_cliente') 
drop procedure TROLLS.st_modificar_cliente

go

--*************Inicio Creacion de tablas****************

if OBJECT_ID('TROLLS.Cancelacion_Pasaje', 'U') is not null
	drop table TROLLS.Cancelacion_Pasaje;
create table TROLLS.Cancelacion_Pasaje (can_id NUMERIC(18,0) IDENTITY(1,1) NOT NULL,
					 can_pas_id NUMERIC(18,0) not null,
					 can_motivo VARCHAR(100) not null, 				
					 PRIMARY KEY(can_id));

if OBJECT_ID('TROLLS.Reserva', 'U') is not null
	drop table TROLLS.Reserva;
create table TROLLS.Reserva (res_id NUMERIC(18,0) IDENTITY(1,1) NOT NULL,
					  res_fecha datetime not null,
					  res_cab_nro NUMERIC(18,0) NOT NULL, 
					  res_cab_piso NUMERIC(18,0) NOT NULL,
					  res_cab_tcab_id NUMERIC(18,0) NOT NULL,
					  res_cli_id NUMERIC(10,0) not null, --FK Cliente
					  res_pue_hasta NUMERIC(18,0) not null, --FK Puerto
					  res_via_id NUMERIC(18,0) NOT NULL, --FK Viaje
					  res_estado BIT NOT NULL DEFAULT 1,
					  PRIMARY KEY(res_id));

if OBJECT_ID('TROLLS.Pasaje', 'U') is not null
	drop table TROLLS.Pasaje;
create table TROLLS.Pasaje (pas_id NUMERIC(18,0) IDENTITY(1,1) NOT NULL,
					 pas_precio decimal(18,2) not null,					 
					 pas_cli_id NUMERIC(10,0) NOT NULL, --FK Cliente
					 pas_cab_nro NUMERIC(18,0) NOT NULL, 
					 pas_cab_piso NUMERIC(18,0) NOT NULL,
					 pas_cab_tcab_id NUMERIC(18,0) NOT NULL,
					 pas_pue_hasta NUMERIC(18,0) NOT NULL, --FK Puerto
					 pas_via_id NUMERIC(18,0) NOT NULL, --FK Viaje
					 pas_estado BIT NOT NULL DEFAULT 1,
					 pas_com_id NUMERIC(18,0), --FK Compra
					 PRIMARY KEY(pas_id));

if OBJECT_ID('TROLLS.Recorrido_Tramo', 'U') is not null
	drop table TROLLS.Recorrido_Tramo;
create table TROLLS.Recorrido_Tramo (tra_id NUMERIC(18,0) NOT NULL, --FK Tramo
							rec_id NUMERIC(18,0) NOT NULL, --FK Puerto
							estado BIT NOT NULL DEFAULT 1
							);

if OBJECT_ID('TROLLS.Tramos', 'U') is not null
	drop table TROLLS.Tramos;
create table TROLLS.Tramos( tra_id NUMERIC(18,0) IDENTITY(1,1) NOT NULL,
									tra_desde NUMERIC(18,0) not null, --FK Puerto
									tra_hasta NUMERIC(18,0) not null, --FK Puerto
									tra_precio_base DECIMAL(18,2) NOT NULL,
									primary key (tra_id));	

if OBJECT_ID('TROLLS.Cabina', 'U') is not null
	drop table TROLLS.Cabina;
create table TROLLS.Cabina (cab_nro NUMERIC(18,0)  NOT NULL,
							 cab_id NUMERIC(18,0)  IDENTITY(1,1) NOT NULL,
							 cab_piso NUMERIC(18,0) not null,
							 cab_tcab_id NUMERIC(18,0) not null, --FK Tipo_Cabina	 
							 cab_via_id NUMERIC(18,0), --FK Viaje
							 cab_ocupada BIT NOT NULL DEFAULT 0,
							 PRIMARY KEY(cab_id));

if OBJECT_ID('TROLLS.Viaje', 'U') is not null
	drop table TROLLS.Viaje;
create table TROLLS.Viaje(via_id NUMERIC(18,0) IDENTITY(1,1) NOT NULL,
							 via_fecha_salida datetime not null, 
							 via_fecha_llegada datetime not null, 
							 via_fecha_llegada_estimada datetime not null, 
							 via_cru_id CHAR(30) not null, --FK Crucero
							 via_rec_id NUMERIC(18,0) not null, --FK Recorrido
							 primary key (via_id));

if OBJECT_ID('TROLLS.Cabinas_Crucero', 'U') is not null
	drop table TROLLS.Cabinas_Crucero;
create table TROLLS.Cabinas_Crucero (cc_id NUMERIC(18,0) IDENTITY(1,1) NOT NULL, 
						 cc_cru_id CHAR(30) NOT NULL, --FK Crucero
					     cc_nro NUMERIC(18,0) not null,
						 cc_tcab_id NUMERIC(18,0), --FK Tipo_Cabina
						 cc_piso NUMERIC(18,0)); 

if OBJECT_ID('TROLLS.Tipo_Cabina', 'U') is not null
	drop table TROLLS.Tipo_Cabina;
create table TROLLS.Tipo_Cabina (tcab_id NUMERIC(18,0)  IDENTITY(1,1) NOT NULL,
							 tcab_porc_recargo decimal(4,2) not null,
							 tcab_tipo varchar(400) not null, 							 
							 PRIMARY KEY(tcab_id));

if OBJECT_ID('TROLLS.Crucero', 'U') is not null
	drop table TROLLS.Crucero;
create table TROLLS.Crucero (cru_id CHAR(30) NOT NULL, 
					     cru_mod VARCHAR(50) not null, 
						 cru_fab_id NUMERIC(18,0) not null, --FK Fabricante_Crucero
						 cru_tser_id NUMERIC(18,0) not null, --FK Tipo_Servicio_Crucero
						 cru_fecha_alta datetime not null,
						 cru_baja_fuera_servicio BIT NOT NULL DEFAULT 0,
						 cru_baja_vida_util BIT NOT NULL DEFAULT 0,
						 cru_fecha_fuera_servicio datetime,
						 cru_fecha_reinicio_servicio datetime,
						 cru_fecha_baja_definitiva datetime
						 PRIMARY KEY(cru_id)); 

if OBJECT_ID('TROLLS.Fabricante_Crucero', 'U') is not null
	drop table TROLLS.Fabricante_Crucero;
create table TROLLS.Fabricante_Crucero (fab_id NUMERIC(18,0) IDENTITY(1,1) NOT NULL, 
					     fab_desc nvarchar(50) not null, 							 
							 PRIMARY KEY(fab_id));

if OBJECT_ID('TROLLS.Tipo_Servicio_Crucero', 'U') is not null
	drop table TROLLS.Tipo_Servicio_Crucero;
create table TROLLS.Tipo_Servicio_Crucero (tser_id NUMERIC(18,0) IDENTITY(1,1) NOT NULL, 
					     tser_desc nvarchar(50) not null, 							 
							 PRIMARY KEY(tser_id));

if OBJECT_ID('TROLLS.Recorrido', 'U') is not null
	drop table TROLLS.Recorrido;
create table TROLLS.Recorrido( rec_id NUMERIC(18,0) IDENTITY(1,1) NOT NULL,	
									rec_pue_id_desde NUMERIC(18,0) not null,
									rec_pue_id_hasta NUMERIC(18,0) not null,
									rec_estado BIT NOT NULL DEFAULT 1,
									primary key (rec_id));	

if OBJECT_ID('TROLLS.Compra', 'U') is not null
	drop table TROLLS.Compra;
create table TROLLS.Compra (com_id NUMERIC(18,0) IDENTITY(1,1) NOT NULL,
					 com_cli_id NUMERIC(10,0) not null, --FK Cliente
					 com_mp_id NUMERIC(18,0) not null, --FK MP
					 com_detalle NVARCHAR(50), --N° Cuotas
					 com_total NUMERIC(18,2) not null,
					 com_fecha_compra datetime not null,		
					 PRIMARY KEY(com_id));

if OBJECT_ID('TROLLS.MedioPago', 'U') is not null
	drop table TROLLS.MedioPago;
create table TROLLS.MedioPago (mp_id NUMERIC(18,0) IDENTITY(1,1) NOT NULL,
							mp_desc nvarchar(100) not null,
							PRIMARY KEY(mp_id));

if OBJECT_ID('TROLLS.Cliente', 'U') is not null
	drop table TROLLS.Cliente;
create table TROLLS.Cliente (cli_id NUMERIC(10,0) IDENTITY(1,1)  NOT NULL, --Nro Doc
					  cli_usu_id NUMERIC(18,0) NOT NULL,
					  cli_nombre NVARCHAR(30) not null,
					  cli_apellido NVARCHAR(30) not null,
					  cli_fecha_nac datetime not null,
					  cli_direccion NUMERIC(18,0), --FK Dirección
					  PRIMARY KEY(cli_id));

if OBJECT_ID('TROLLS.Direccion', 'U') is not null
	drop table TROLLS.Direccion;
create table TROLLS.Direccion( dir_id NUMERIC(18,0) IDENTITY(1,1) NOT NULL,
							dir_calle nvarchar(70) not null,
							dir_num char(5) not null,
							dir_telefono varchar(18),
							dir_mail nvarchar(50) not null,
							primary key (dir_id));

if OBJECT_ID('TROLLS.Puerto', 'U') is not null
	drop table TROLLS.Puerto;
create table TROLLS.Puerto (pue_id NUMERIC(18,0) IDENTITY(1,1) NOT NULL,
							pue_nombre VARCHAR (100) not null,
							pue_estado BIT NOT NULL DEFAULT 1,
							PRIMARY KEY(pue_id));

if OBJECT_ID('TROLLS.Rol_Usuario', 'U') is not null
	drop table TROLLS.Rol_Usuario;
create table TROLLS.Rol_Usuario(usu_id NUMERIC(18,0) NOT NULL,
							 rol_id NUMERIC(18,0) NOT NULL,
							 estado	BIT NOT NULL DEFAULT 0);

if OBJECT_ID('TROLLS.Rol_Funcionalidad', 'U') is not null
	drop table TROLLS.Rol_Funcionalidad;
create table TROLLS.Rol_Funcionalidad( rol_id NUMERIC(18,0) NOT NULL,
									fun_id NUMERIC(18,0) NOT NULL,
									estado BIT NOT NULL DEFAULT 1);

if OBJECT_ID('TROLLS.Rol', 'U') is not null
	drop table TROLLS.Rol;
	create table TROLLS.Rol(rol_id NUMERIC(18,0) IDENTITY(1,1) NOT NULL,
						 rol_nombre NVARCHAR(50) NOT NULL,
						 rol_estado BIT NOT NULL DEFAULT 1, 
						 PRIMARY KEY (rol_id) );

if OBJECT_ID('TROLLS.Funcionalidad', 'U') is not null
	drop table TROLLS.Funcionalidad;
create table TROLLS.Funcionalidad( fun_id NUMERIC(18,0) IDENTITY(1,1) NOT NULL,
								fun_nombre nvarchar(50) NOT NULL,
								fun_visible BIT NOT NULL DEFAULT 1,
								PRIMARY KEY (fun_id) );

if OBJECT_ID('TROLLS.Usuario', 'U') is not null
	drop table TROLLS.Usuario;
create table TROLLS.Usuario(usu_id NUMERIC(18,0) IDENTITY(1,1) NOT NULL,
						usu_usuario NVARCHAR(30) NOT NULL,
						usu_password NVARCHAR(255),
						usu_cant_int_fallidos int default 0,
						usu_estado bit default 1
						PRIMARY KEY (usu_id) );


									
-- ******** Fin Creacion de Tablas************


-- ******** Inicio Creacion de FKs************

ALTER TABLE TROLLS.Tramos  WITH CHECK ADD
	CONSTRAINT FK_tra_pue_id_desde FOREIGN KEY (tra_desde)
	REFERENCES TROLLS.Puerto (pue_id)

ALTER TABLE TROLLS.Tramos  WITH CHECK ADD
	CONSTRAINT FK_tra_pue_id_hasta FOREIGN KEY (tra_hasta)
	REFERENCES TROLLS.Puerto (pue_id)

ALTER TABLE TROLLS.Viaje  WITH CHECK ADD
	CONSTRAINT FK_viaje_recorrido FOREIGN KEY (via_rec_id)
	REFERENCES TROLLS.Recorrido (rec_id)

ALTER TABLE TROLLS.Viaje  WITH CHECK ADD
	CONSTRAINT FK_viaje_crucero FOREIGN KEY (via_cru_id)
	REFERENCES TROLLS.Crucero (cru_id)

ALTER TABLE TROLLS.Reserva  WITH CHECK ADD
	CONSTRAINT FK_Reserva_viaje FOREIGN KEY (res_via_id)
	REFERENCES TROLLS.Viaje (via_id)

ALTER TABLE TROLLS.Reserva  WITH CHECK ADD
	CONSTRAINT FK_Reserva_cliente FOREIGN KEY (res_cli_id)
	REFERENCES TROLLS.Cliente (cli_id)

ALTER TABLE TROLLS.Reserva  WITH CHECK ADD
	CONSTRAINT FK_Reserva_puerto FOREIGN KEY (res_pue_hasta)
	REFERENCES TROLLS.Puerto (pue_id)

ALTER TABLE TROLLS.Pasaje  WITH CHECK ADD
	CONSTRAINT FK_Pasaje_compra FOREIGN KEY (pas_com_id)
	REFERENCES TROLLS.Compra (com_id)

ALTER TABLE TROLLS.Pasaje  WITH CHECK ADD
	CONSTRAINT FK_Pasaje_viaje FOREIGN KEY (pas_via_id)
	REFERENCES TROLLS.Viaje (via_id)

ALTER TABLE TROLLS.Pasaje  WITH CHECK ADD
	CONSTRAINT FK_Pasaje_cliente FOREIGN KEY (pas_cli_id)
	REFERENCES TROLLS.Cliente (cli_id)

ALTER TABLE TROLLS.Pasaje  WITH CHECK ADD
	CONSTRAINT FK_Pasaje_puerto FOREIGN KEY (pas_pue_hasta)
	REFERENCES TROLLS.Puerto (pue_id)

ALTER TABLE TROLLS.Compra  WITH CHECK ADD
	CONSTRAINT FK_Compra_cliente FOREIGN KEY (com_cli_id)
	REFERENCES TROLLS.Cliente (cli_id)

ALTER TABLE TROLLS.Compra  WITH CHECK ADD
	CONSTRAINT FK_Compra_mp FOREIGN KEY (com_mp_id)
	REFERENCES TROLLS.MedioPago(mp_id)

ALTER TABLE TROLLS.Cancelacion_Pasaje  WITH CHECK ADD
	CONSTRAINT FK_Cancelacion_pasaje FOREIGN KEY (can_pas_id)
	REFERENCES TROLLS.Pasaje (pas_id)

ALTER TABLE TROLLS.Cabinas_Crucero  WITH CHECK ADD
	CONSTRAINT FK_Cabinas_CruceroID FOREIGN KEY (cc_cru_id)
	REFERENCES TROLLS.Crucero (cru_id)

ALTER TABLE TROLLS.Cabinas_Crucero  WITH CHECK ADD
	CONSTRAINT FK_CabinasID_Crucero FOREIGN KEY (cc_tcab_id)
	REFERENCES TROLLS.Tipo_Cabina (tcab_id)

ALTER TABLE TROLLS.Crucero  WITH CHECK ADD
	CONSTRAINT FK_Fabricante_Crucero FOREIGN KEY (cru_fab_id)
	REFERENCES TROLLS.Fabricante_Crucero (fab_id)

ALTER TABLE TROLLS.Crucero  WITH CHECK ADD
	CONSTRAINT FK_Tipo_Servicio_Crucero FOREIGN KEY (cru_tser_id)
	REFERENCES TROLLS.Tipo_Servicio_Crucero (tser_id)

ALTER TABLE TROLLS.Cabina  WITH CHECK ADD
	CONSTRAINT FK_Cabina_tipo FOREIGN KEY (cab_tcab_id)
	REFERENCES TROLLS.Tipo_Cabina (tcab_id)

ALTER TABLE TROLLS.Cabina  WITH CHECK ADD
	CONSTRAINT FK_Cabina_viaje FOREIGN KEY (cab_via_id)
	REFERENCES TROLLS.Viaje (via_id)

ALTER TABLE TROLLS.Recorrido  WITH CHECK ADD
	CONSTRAINT FK_Recorrido_Puerto_Desde FOREIGN KEY (rec_pue_id_desde)
	REFERENCES TROLLS.Puerto (pue_id)

ALTER TABLE TROLLS.Recorrido  WITH CHECK ADD
	CONSTRAINT FK_Recorrido_Puerto_Hasta FOREIGN KEY (rec_pue_id_hasta)
	REFERENCES TROLLS.Puerto (pue_id)

ALTER TABLE TROLLS.Recorrido_Tramo  WITH CHECK ADD
	CONSTRAINT FK_TramoID FOREIGN KEY (tra_id)
	REFERENCES TROLLS.Tramos (tra_id)

ALTER TABLE TROLLS.Recorrido_Tramo  WITH CHECK ADD
	CONSTRAINT FK_RecorridoID FOREIGN KEY (rec_id)
	REFERENCES TROLLS.Recorrido (rec_id)

ALTER TABLE TROLLS.Cliente  WITH CHECK ADD
	CONSTRAINT FK_Cliente_Usuario FOREIGN KEY (cli_usu_id)
	REFERENCES TROLLS.Usuario (usu_id)
	
ALTER TABLE TROLLS.Cliente  WITH CHECK ADD
	CONSTRAINT FK_Cliente_Direccion FOREIGN KEY (cli_direccion)
	REFERENCES TROLLS.Direccion (dir_id)

ALTER TABLE TROLLS.Rol_Usuario  WITH CHECK ADD
	CONSTRAINT FK_Usuario_ID FOREIGN KEY (usu_id)
	REFERENCES TROLLS.Usuario (usu_id)

ALTER TABLE TROLLS.Rol_Usuario  WITH CHECK ADD
	CONSTRAINT FK_Rol_ID FOREIGN KEY (rol_id)
	REFERENCES TROLLS.Rol (rol_id)
	
ALTER TABLE TROLLS.Rol_Funcionalidad WITH CHECK ADD
	CONSTRAINT FK_Funcionalidad_ID FOREIGN KEY (fun_id)
	REFERENCES TROLLS.Funcionalidad (fun_id)

ALTER TABLE TROLLS.Rol_Funcionalidad  WITH CHECK ADD
	CONSTRAINT FK_RolFun_ID FOREIGN KEY (rol_id)
	REFERENCES TROLLS.Rol (rol_id)

-- ******** FIN Creacion de FKs************

--INDICES
IF EXISTS (SELECT *  FROM sys.indexes  WHERE name='indice_cabina' 
    AND object_id = OBJECT_ID('TROLLS.Cabina'))
  begin
    DROP INDEX indice_cabina ON TROLLS.Cabina;
  end

  CREATE INDEX indice_cabina ON TROLLS.Cabina (cab_nro , cab_piso , cab_tcab_id, cab_via_id)



-- ******** Inicio Migracion************

-- Creo Roles
INSERT INTO TROLLS.Rol(rol_nombre, rol_estado)
VALUES
('Administrativo', 1),
('Cliente', 1);

--Creo Funcionalidades
INSERT INTO TROLLS.Funcionalidad(fun_nombre)
VALUES
('ABM DE ROL'),
('ABM DE PUERTO'),
('ABM DE RECORRIDO'),
('ABM DE CRUCERO'),
('GENERAR VIAJE'),
('COMPRA Y/O RESERVA DE VIAJE'),
('PAGO RESERVA'),
('LISTADO ESTADISTICO');

--Asigno Funcionalidades a Roles
INSERT INTO TROLLS.Rol_Funcionalidad(rol_id, fun_id, estado)
VALUES
(1,1,1),(1,2,1),(1,3,1),(1,4,1),(1,5,1),(1,6,1),(1,7,1),(1,8,1),
(2,6,1),(2,7,1)
GO

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'TROLLS.ENCRIPTAR')
AND type in (N'FN', N'IF',N'TF', N'FS', N'FT'))
DROP FUNCTION TROLLS.ENCRIPTAR
GO

create function TROLLS.ENCRIPTAR (@Password nvarchar(255))
returns nvarchar(255)
as
begin 
	return HASHBYTES('SHA2_256',@Password)
end
go

IF OBJECT_ID('TROLLS.USUARIO_SEQ') IS NOT NULL
DROP SEQUENCE TROLLS.USUARIO_SEQ
CREATE SEQUENCE TROLLS.USUARIO_SEQ START WITH 1 INCREMENT BY 1;
GO

SET IDENTITY_INSERT TROLLS.usuario ON;
--Creo Usuario Admin
INSERT INTO TROLLS.Usuario(usu_id,usu_usuario, usu_password)
VALUES
(next value for TROLLS.USUARIO_SEQ, 'admin',TROLLS.ENCRIPTAR('w23e'))
INSERT INTO TROLLS.Usuario(usu_id,usu_usuario, usu_password)
VALUES
(next value for TROLLS.USUARIO_SEQ, 'admin2',TROLLS.ENCRIPTAR('w23e'))
SET IDENTITY_INSERT TROLLS.usuario OFF;

INSERT INTO TROLLS.Rol_Usuario(rol_id, usu_id, estado)
VALUES
(1,1,1),(1,2,1)
GO

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'TROLLS.GETNUMBER')
AND type in (N'FN', N'IF',N'TF', N'FS', N'FT'))
DROP FUNCTION TROLLS.GETNUMBER
GO

CREATE FUNCTION TROLLS.GETNUMBER
(@strAlphaNumeric VARCHAR(256))
RETURNS VARCHAR(256)
AS
BEGIN
DECLARE @intAlpha INT
SET @intAlpha = PATINDEX('%^0-9%', @strAlphaNumeric)
BEGIN
WHILE @intAlpha > 0
BEGIN
SET @strAlphaNumeric = STUFF(@strAlphaNumeric, @intAlpha, 1, '' )
SET @intAlpha = PATINDEX('%^0-9%', @strAlphaNumeric )
END
END
RETURN ISNULL(@strAlphaNumeric,0)
END
GO

IF OBJECT_ID('TROLLS.Z_MIGRACION_CLIENTES', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.Z_MIGRACION_CLIENTES
GO

IF OBJECT_ID('TROLLS.DIRECCION_SEQ') IS NOT NULL
DROP SEQUENCE TROLLS.DIRECCION_SEQ
CREATE SEQUENCE TROLLS.DIRECCION_SEQ START WITH 1 INCREMENT BY 1;
GO

/* TROLLS.MIGRAR_CLIENTES */

CREATE PROCEDURE TROLLS.Z_MIGRACION_CLIENTES     
AS 
BEGIN		
	DECLARE @MIGRA_CLIENTE_TEMP TABLE 
	(
	cli_nro_doc CHAR(8),
	cli_apellido NVARCHAR(30),
	cli_nombre NVARCHAR(30),
	cli_fecha_nac DATETIME,	
	usu_usuario NVARCHAR(30),
	usu_id NUMERIC(18, 0) DEFAULT NEXT VALUE FOR TROLLS.USUARIO_SEQ,
	dir_mail NVARCHAR(50),
	dir_calle NVARCHAR(70),
	dir_num CHAR(5),
	dir_telefono NVARCHAR(18),
	dir_id NUMERIC(18, 0) DEFAULT NEXT VALUE FOR TROLLS.DIRECCION_SEQ,
PRIMARY KEY (cli_nro_doc) 
WITH (IGNORE_DUP_KEY = ON) /*Evita DNI duplicados*/
	
	);

	--Tabla temporal
	INSERT INTO @MIGRA_CLIENTE_TEMP 
	(cli_nro_doc,cli_apellido,cli_nombre,cli_fecha_nac,
	usu_usuario,
	dir_mail,dir_calle,dir_num)
	SELECT DISTINCT Cli_Dni,Cli_Apellido,Cli_Nombre,Cli_Fecha_Nac,Cli_Dni,
	Cli_Mail,LEFT(CLI_DIRECCION, LEN(CLI_DIRECCION)-LEN(TROLLS.GETNUMBER((SELECT RIGHT(CLI_DIRECCION,4))))),TROLLS.GETNUMBER((SELECT RIGHT(CLI_DIRECCION,4)))
		   FROM GD_ESQUEMA.MAESTRA
	WHERE Cli_Dni IS NOT NULL 

	--Usuario
	SET IDENTITY_INSERT TROLLS.usuario ON;
	INSERT INTO TROLLS.usuario(usu_id,usu_usuario,usu_cant_int_fallidos,usu_estado)
	SELECT 
	usu_id,usu_usuario,0,1
	FROM @MIGRA_CLIENTE_TEMP;
	SET IDENTITY_INSERT TROLLS.usuario OFF;
	--Se asigna rol Cliente
	insert into TROLLS.Rol_Usuario(usu_id,rol_id,estado)
	select usu_id,2,1 from @MIGRA_CLIENTE_TEMP
	--Domicilio
	SET IDENTITY_INSERT TROLLS.Direccion ON;
	INSERT INTO TROLLS.Direccion(dir_id,DIR_CALLE,DIR_NUM,DIR_telefono,DIR_MAIL)
	SELECT 
	dir_id,dir_calle,dir_num,dir_telefono,dir_mail
	FROM @MIGRA_CLIENTE_TEMP;
	SET IDENTITY_INSERT TROLLS.Direccion OFF;
	--Cliente
	SET IDENTITY_INSERT TROLLS.CLIENTE ON;
	INSERT INTO TROLLS.CLIENTE(cli_id,cli_apellido,cli_nombre,cli_fecha_nac,cli_usu_id,cli_direccion)
	SELECT cli_nro_doc,cli_apellido,cli_nombre,cli_fecha_nac,usu_id,dir_id
	FROM @MIGRA_CLIENTE_TEMP;
	SET IDENTITY_INSERT TROLLS.CLIENTE OFF;

END;
GO

EXEC TROLLS.Z_MIGRACION_CLIENTES;
GO

--FABRICANTE
INSERT INTO TROLLS.Fabricante_Crucero(fab_desc)
	SELECT 
	distinct CRU_FABRICANTE
	FROM GD_ESQUEMA.MAESTRA
	WHERE CRU_FABRICANTE IS NOT NULL

--SERVICIO
INSERT INTO TROLLS.Tipo_Servicio_Crucero (tser_desc)
VALUES ('Lujo'),('Comun')
GO

--CRUCERO
INSERT INTO TROLLS.Crucero(cru_id,cru_mod,cru_fab_id,cru_tser_id,cru_fecha_alta)
	SELECT 
	distinct CRUCERO_IDENTIFICADOR, 
	CRUCERO_MODELO, 
	(SELECT fab_id from TROLLS.Fabricante_Crucero where fab_desc=CRU_FABRICANTE),1,GETDATE()
	FROM GD_ESQUEMA.MAESTRA
	WHERE CRUCERO_IDENTIFICADOR IS NOT NULL

--PUERTO
INSERT INTO TROLLS.Puerto(pue_nombre)
  SELECT PUERTO_DESDE
  FROM GD_ESQUEMA.MAESTRA
  union 
  SELECT PUERTO_HASTA
  FROM GD_ESQUEMA.MAESTRA

IF OBJECT_ID('TROLLS.TRAMOS_SEQ') IS NOT NULL
DROP SEQUENCE TROLLS.TRAMOS_SEQ
CREATE SEQUENCE TROLLS.TRAMOS_SEQ START WITH 1 INCREMENT BY 1;
GO

IF OBJECT_ID('TROLLS.Z_MIGRACION_RECORRIDO', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.Z_MIGRACION_RECORRIDO
GO

CREATE PROCEDURE TROLLS.Z_MIGRACION_RECORRIDO     
AS 
BEGIN		
	DECLARE @MIGRA_RECORRIDO_TRAMO_TEMP TABLE 
	(
	RECORRIDO_CODIGO NUMERIC(18,0),
	RECORRIDO_PRECIO_BASE DECIMAL(18,2),
	PUERTO_DESDE NUMERIC(18,0),
	PUERTO_HASTA NUMERIC(18,0),	
	tra_id NUMERIC(18, 0) DEFAULT NEXT VALUE FOR TROLLS.TRAMOS_SEQ
	);

	DECLARE @MIGRA_RECORRIDO_TEMP TABLE 
	(
	RECORRIDO_CODIGO NVARCHAR(30),
	PUERTO_DESDE NUMERIC(18,0),
	PUERTO_HASTA NUMERIC(18,0)
	);

	--Tabla temporal
	INSERT INTO @MIGRA_RECORRIDO_TRAMO_TEMP 
	(RECORRIDO_CODIGO,RECORRIDO_PRECIO_BASE,PUERTO_DESDE,PUERTO_HASTA)
	SELECT
      RECORRIDO_CODIGO
      ,RECORRIDO_PRECIO_BASE
      ,(SELECT pue_id from TROLLS.Puerto where pue_nombre=PUERTO_DESDE)
      ,(SELECT pue_id from TROLLS.Puerto where pue_nombre=PUERTO_HASTA) 
 FROM GD_ESQUEMA.MAESTRA
 WHERE RECORRIDO_CODIGO IS NOT NULL
  group by RECORRIDO_CODIGO,RECORRIDO_PRECIO_BASE,PUERTO_DESDE,PUERTO_HASTA
	
	--Recorridos de 2 tramos
	INSERT INTO @MIGRA_RECORRIDO_TEMP(RECORRIDO_CODIGO,PUERTO_DESDE,PUERTO_HASTA)
	select t1.RECORRIDO_CODIGO,t1.PUERTO_DESDE,t2.PUERTO_HASTA from @MIGRA_RECORRIDO_TRAMO_TEMP t1 
join @MIGRA_RECORRIDO_TRAMO_TEMP t2 on t1.PUERTO_HASTA=t2.PUERTO_DESDE and t1.RECORRIDO_CODIGO=t2.RECORRIDO_CODIGO

	--Recorridos de 1 tramo
	INSERT INTO @MIGRA_RECORRIDO_TEMP(RECORRIDO_CODIGO,PUERTO_DESDE,PUERTO_HASTA)
	select RECORRIDO_CODIGO,PUERTO_DESDE,PUERTO_HASTA from @MIGRA_RECORRIDO_TRAMO_TEMP t1 where (select COUNT(*) from @MIGRA_RECORRIDO_TRAMO_TEMP t2 where t1.RECORRIDO_CODIGO=t2.RECORRIDO_CODIGO) =1

	--Recorrido
	SET IDENTITY_INSERT TROLLS.Recorrido ON;
	INSERT INTO TROLLS.RECORRIDO(rec_id,rec_pue_id_desde,rec_pue_id_hasta)
	select * from @MIGRA_RECORRIDO_TEMP
	SET IDENTITY_INSERT TROLLS.Recorrido OFF;

	--Tramos
	SET IDENTITY_INSERT TROLLS.Tramos ON;
	INSERT INTO TROLLS.Tramos(tra_id,tra_desde,tra_hasta,tra_precio_base)
	select tra_id,PUERTO_DESDE,PUERTO_HASTA,RECORRIDO_PRECIO_BASE from @MIGRA_RECORRIDO_TRAMO_TEMP
	SET IDENTITY_INSERT TROLLS.Tramos OFF;

	--Tramos por recorrido
	INSERT INTO TROLLS.Recorrido_Tramo (rec_id,tra_id)
	select RECORRIDO_CODIGO,tra_id from @MIGRA_RECORRIDO_TRAMO_TEMP

END;
GO

EXEC TROLLS.Z_MIGRACION_RECORRIDO;
GO

--VIAJE
INSERT INTO TROLLS.Viaje (via_fecha_salida,via_fecha_llegada,via_fecha_llegada_estimada,via_rec_id,via_cru_id)
SELECT 
      FECHA_SALIDA
      ,FECHA_LLEGADA
      ,FECHA_LLEGADA_ESTIMADA
      ,RECORRIDO_CODIGO
      ,CRUCERO_IDENTIFICADOR
  FROM GD_ESQUEMA.MAESTRA
  group by FECHA_SALIDA
      ,FECHA_LLEGADA
      ,FECHA_LLEGADA_ESTIMADA
      ,RECORRIDO_CODIGO
      ,CRUCERO_IDENTIFICADOR

--TIPOCABINA
INSERT INTO TROLLS.Tipo_Cabina(tcab_tipo,tcab_porc_recargo)
	SELECT 
	distinct CABINA_TIPO, CABINA_TIPO_PORC_RECARGO
	FROM GD_ESQUEMA.MAESTRA
	WHERE CABINA_TIPO IS NOT NULL

IF OBJECT_ID('TROLLS.COMPRA_SEQ') IS NOT NULL
DROP SEQUENCE TROLLS.COMPRA_SEQ
CREATE SEQUENCE TROLLS.COMPRA_SEQ START WITH 1 INCREMENT BY 1;
GO

IF OBJECT_ID('TROLLS.Z_MIGRACION_CABINA_RESERVA_PASAJE', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.Z_MIGRACION_CABINA_RESERVA_PASAJE
GO

CREATE PROCEDURE TROLLS.Z_MIGRACION_CABINA_RESERVA_PASAJE
AS 
BEGIN		
	DECLARE @MIGRA_CABINA_TEMP TABLE 
	(
	FECHA_SALIDA datetime,
	FECHA_LLEGADA datetime,
	FECHA_LLEGADA_ESTIMADA datetime,
	RECORRIDO_CODIGO NUMERIC(18,0),
	CABINA_NRO NUMERIC(18,0),
	CABINA_PISO NUMERIC(2,0),
	CRUCERO_IDENTIFICADOR CHAR(30),
	CABINA_TIPO NUMERIC(18,0)
	,RESERVA_CODIGO NUMERIC(18,0)
    ,RESERVA_FECHA datetime
	,cli_id NUMERIC(10,0)
	,PASAJE_CODIGO NUMERIC(18,0)
    ,PASAJE_PRECIO decimal(18,2)
    ,PASAJE_FECHA_COMPRA datetime
    ,PUERTO_HASTA  NUMERIC(18,0)
	,via_id NUMERIC(18,0)
	,com_id NUMERIC(18,0)
	);

INSERT INTO @MIGRA_CABINA_TEMP
SELECT FECHA_SALIDA
      ,FECHA_LLEGADA
      ,FECHA_LLEGADA_ESTIMADA
      ,RECORRIDO_CODIGO
	  ,CABINA_NRO
      ,CABINA_PISO
      ,CRUCERO_IDENTIFICADOR
      ,(SELECT tcab_id from TROLLS.Tipo_Cabina where tcab_tipo=CABINA_TIPO)
	  ,RESERVA_CODIGO
      ,RESERVA_FECHA
	  ,CLI_DNI
	,PASAJE_CODIGO 
    ,PASAJE_PRECIO 
    ,PASAJE_FECHA_COMPRA 
    ,(SELECT pue_id from TROLLS.Puerto where pue_nombre=PUERTO_HASTA)
	,(SELECT via_id from TROLLS.Viaje where via_fecha_salida=FECHA_SALIDA and via_fecha_llegada=FECHA_LLEGADA and via_fecha_llegada_estimada=FECHA_LLEGADA_ESTIMADA 
	  and via_cru_id=CRUCERO_IDENTIFICADOR and via_rec_id=RECORRIDO_CODIGO)  
	,null
  FROM GD_ESQUEMA.MAESTRA
  group by FECHA_SALIDA
      ,FECHA_LLEGADA
      ,FECHA_LLEGADA_ESTIMADA
      ,RECORRIDO_CODIGO
      ,CABINA_NRO
      ,CABINA_PISO
      ,CRUCERO_IDENTIFICADOR
      ,CABINA_TIPO
	  ,RESERVA_CODIGO 
    ,RESERVA_FECHA 
	,CLI_DNI 
	,PASAJE_CODIGO 
    ,PASAJE_PRECIO 
    ,PASAJE_FECHA_COMPRA 
    ,PUERTO_HASTA   

	--Llenar com_id
	UPDATE @MIGRA_CABINA_TEMP SET com_id = (NEXT VALUE FOR COMPRA_SEQ) where PASAJE_CODIGO is not null

	--CABINA_CRUCERO
	INSERT INTO TROLLS.Cabinas_Crucero(cc_cru_id,cc_piso,cc_tcab_id,cc_nro)
	select distinct CRUCERO_IDENTIFICADOR
	,CABINA_PISO
	,CABINA_TIPO
	,CABINA_NRO
	from @MIGRA_CABINA_TEMP M
	group by CRUCERO_IDENTIFICADOR,CABINA_PISO,CABINA_TIPO,CABINA_NRO

	--CABINA
	
	--Inserta Cabinas ocupadas x viaje
	INSERT INTO TROLLS.Cabina(cab_nro,cab_piso,cab_tcab_id,cab_via_id,cab_ocupada)
	SELECT distinct CABINA_NRO
      ,CABINA_PISO
      ,CABINA_TIPO
	  ,via_id 
	  ,1 --SIEMPRE OCUPADA
	  FROM @MIGRA_CABINA_TEMP
  
  --Inserto Cabinas desocupadas x viaje
  INSERT INTO TROLLS.Cabina(cab_nro,cab_piso,cab_tcab_id,cab_via_id,cab_ocupada)
  	select distinct cc_nro
	  , cc_piso
	  , cc_tcab_id
	  , via_id
	  , 0 
	FROM [GD1C2019].TROLLS.Cabinas_Crucero
	join [GD1C2019].TROLLS.Viaje on via_cru_id = cc_cru_id
	where cc_nro not in (select cab_nro from [GD1C2019].TROLLS.Cabina where cab_via_id = via_id  AND cab_piso = cc_piso AND cab_tcab_id = cc_tcab_id)
	group by cc_nro, cc_cru_id, cc_piso, cc_tcab_id, via_id

  --RESERVA
  SET IDENTITY_INSERT TROLLS.Reserva ON;
  INSERT INTO TROLLS.Reserva(res_id,res_fecha,res_cab_nro,res_cab_piso,res_cab_tcab_id,res_cli_id,res_pue_hasta,res_via_id,res_estado)
	SELECT distinct RESERVA_CODIGO,RESERVA_FECHA
    ,CABINA_NRO
      ,CABINA_PISO
	  ,CABINA_TIPO
	,cli_id
	,PUERTO_HASTA
	,via_id, 1
  FROM @MIGRA_CABINA_TEMP 
  where RESERVA_CODIGO is not null
  group by RESERVA_CODIGO 
    ,RESERVA_FECHA,CABINA_NRO
      ,CABINA_PISO,via_id,CABINA_TIPO,cli_id,PUERTO_HASTA
SET IDENTITY_INSERT TROLLS.Reserva OFF;

 --Creo Medios de pago
INSERT INTO TROLLS.MedioPago (mp_desc)
VALUES ('Efectivo'),('Tarjeta'),('Tarjeta Debito')

--COMPRA
 SET IDENTITY_INSERT TROLLS.Compra ON;
  INSERT INTO TROLLS.Compra(com_id,com_cli_id,com_mp_id,com_total,com_fecha_compra)
	SELECT com_id,cli_id,1,PASAJE_PRECIO,PASAJE_FECHA_COMPRA  
  FROM @MIGRA_CABINA_TEMP 
  where PASAJE_CODIGO is not null
  group by com_id,cli_id,PASAJE_PRECIO,PASAJE_FECHA_COMPRA
  SET IDENTITY_INSERT TROLLS.Compra OFF;

  --PASAJE
  SET IDENTITY_INSERT TROLLS.Pasaje ON;
  INSERT INTO TROLLS.Pasaje(pas_id,pas_precio,pas_cli_id,pas_cab_nro,pas_cab_piso,pas_cab_tcab_id,pas_pue_hasta,pas_via_id)
	SELECT distinct PASAJE_CODIGO,PASAJE_PRECIO,cli_id
    ,CABINA_NRO
      ,CABINA_PISO
	  ,CABINA_TIPO
	 --Siempre Medio de Pago Efectivo
	,PUERTO_HASTA
	,via_id
  FROM @MIGRA_CABINA_TEMP 
  where PASAJE_CODIGO is not null
  group by PASAJE_CODIGO,PASAJE_PRECIO,PASAJE_FECHA_COMPRA,cli_id
    ,CABINA_NRO
      ,CABINA_PISO
	  ,CABINA_TIPO
	  ,PUERTO_HASTA
	  ,via_id
SET IDENTITY_INSERT TROLLS.Pasaje OFF;

END;
GO



EXEC TROLLS.Z_MIGRACION_CABINA_RESERVA_PASAJE;
GO

IF OBJECT_ID('TROLLS.LISTAR_CLIENTES_EXISTENTES_INICIO', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.LISTAR_CLIENTES_EXISTENTES_INICIO
GO

create procedure TROLLS.LISTAR_CLIENTES_EXISTENTES_INICIO
@CLI_NOMBRE VARCHAR(30), 
@CLI_APELLIDO VARCHAR(30),
@CLI_NRO_DOC CHAR(10)
as
begin
	select  
			C.CLI_ID as id,
			C.CLI_NOMBRE as Nombre,
			C.CLI_APELLIDO as Apellido,
			D.DIR_MAIL as Mail
	from TROLLS.CLIENTE C inner join TROLLS.DIRECCION D
	on c.cli_direccion = d.dir_id
		WHERE C.CLI_NOMBRE LIKE ISNULL('%' + @CLI_NOMBRE + '%', '%')
              AND C.CLI_APELLIDO LIKE ISNULL('%' + @CLI_APELLIDO + '%', '%')
              AND (@CLI_NRO_DOC is null or C.CLI_ID = @CLI_NRO_DOC);
end
go   


--Procedures
create procedure TROLLS.BUSCAR_USUARIO @Usuario varchar(30), @Password nvarchar(255)
as
begin 
	declare @estado bit
	declare @cant_int_fallido int
	select @estado = usu_Estado from TROLLS.USUARIO where usu_usuario =  @Usuario and usu_password = TROLLS.ENCRIPTAR (@Password)
	select @cant_int_fallido = usu_cant_int_fallidos from TROLLS.USUARIO where usu_usuario = @Usuario

	if not exists(select 1 from TROLLS.USUARIO where usu_usuario = @Usuario)
		select 0 as estado
	if exists(select 1 from TROLLS.USUARIO where usu_usuario = @Usuario and usu_password <> TROLLS.ENCRIPTAR (@Password))
		if (@cant_int_fallido = 3) 
			begin
				update TROLLS.USUARIO set usu_ESTADO = 0 where usu_usuario = @Usuario
				select 2 as estado
			end
		else select 1 as estado
	if @estado = 0
		select 2 as estado
	if @estado = 1
		begin
			if @cant_int_fallido = 1 or @cant_int_fallido = 2
				update TROLLS.USUARIO set usu_cant_int_fallidos = 0 where usu_usuario = @Usuario
			select 3 as estado
		end
end
go

create procedure TROLLS.REG_INTENTO_FALLIDO @Usuario varchar(50)
as
begin
	declare @cant_int_fallido int
	select @cant_int_fallido = usu_cant_int_fallidos from TROLLS.USUARIO where usu_usuario = @Usuario

	if @cant_int_fallido between 0 and 2
		update TROLLS.USUARIO set usu_cant_int_fallidos = usu_cant_int_fallidos + 1 where usu_usuario = @Usuario
end
go

create procedure TROLLS.OBTENER_ID_USUARIO @USUARIO varchar(50)
as
begin
	select usu_id from TROLLS.USUARIO where usu_usuario = @USUARIO
end
go

create procedure TROLLS.OBTENER_USUARIO @ID INT
as
begin
	declare @USER VARCHAR(250)
	select @USER = usu_usuario from TROLLS.USUARIO where usu_id = @ID
	RETURN @USER
end
go

create procedure TROLLS.OBTENER_CANT_ROLES @ID_USU int
as
begin
	select count(usu_id) from TROLLS.ROL_USUARIO where usu_id = @ID_USU and ESTADO = 1  
end
go

create procedure TROLLS.GUARDAR_ROL @nombre varchar(25), @estado bit
as
begin
	insert into TROLLS.ROL(rol_nombre,rol_estado) values (@nombre,@estado);
end
go

create procedure TROLLS.ELIMINAR_ROL @ID int
as
begin
	update TROLLS.ROL set rol_ESTADO = 0 where rol_id = @ID;
end
go

create procedure TROLLS.OBTENER_ID_X_NOMBRE @nombre varchar(25)
as
begin
	select rol_id from TROLLS.ROL where rol_nombre = @nombre 
end
go

create procedure TROLLS.OBTENER_FUNCIONALIDADES_ROL @ID_ROL int
as
begin
	select F.fun_id from TROLLS.FUNCIONALIDAD F inner join TROLLS.ROL_FUNCIONALIDAD RXF 
		on F.fun_id = RXF.fun_id where RXF.rol_id = @ID_ROL and F.fun_visible = 1
end
go

create procedure TROLLS.AGREGAR_FUNCIONALIDAD_A_ROL @ID_ROL INT, @ID_FUNCIONALIDAD INT
as
begin
	if exists (select 1 from TROLLS.Rol_Funcionalidad where rol_id=@ID_ROL and fun_id=@ID_FUNCIONALIDAD)
	begin
		update TROLLS.Rol_Funcionalidad set estado = 1 where rol_id=@ID_ROL and fun_id=@ID_FUNCIONALIDAD;
	end
	else
	begin
		insert into TROLLS.ROL_FUNCIONALIDAD (rol_id,fun_id,estado) values (@ID_ROL,@ID_FUNCIONALIDAD,1);
	end	
end
go

create procedure TROLLS.ELIMINAR_FUNCIONALIDAD_A_ROL @ID_ROL INT, @ID_FUNCIONALIDAD INT
as
begin
	update TROLLS.Rol_Funcionalidad set estado = 0 where rol_id=@ID_ROL and fun_id=@ID_FUNCIONALIDAD;
end
go

create procedure TROLLS.LISTAR_FUNCIONES_X_ROL @ID_ROL int
as
begin
	select f.* from TROLLS.ROL_FUNCIONALIDAD as rxf inner join TROLLS.FUNCIONALIDAD as f
		   on rxf.fun_id = f.fun_id where rxf.rol_id = @ID_ROL and rxf.estado = 1;
end
go

create procedure TROLLS.LISTAR_FUNCIONES_X_ROL_NO_ASIGNADAS @ID_ROL int
as
begin
	select * from TROLLS.FUNCIONALIDAD except 
									     select f.* from TROLLS.ROL_FUNCIONALIDAD as rxf inner join TROLLS.FUNCIONALIDAD as f
										 on rxf.fun_id = f.fun_id where rxf.rol_id = @ID_ROL and rxf.estado = 1;
end
go

create procedure TROLLS.OBTENER_ROLES_ACTIVOS @ID int
as
begin
	select R.rol_NOMBRE,R.rol_id from TROLLS.ROL R inner join TROLLS.ROL_USUARIO RXU 
		on R.rol_id = RXU.rol_id where RXU.usu_id = @ID and R.rol_ESTADO = 1 
end
go

IF OBJECT_ID('TROLLS.OBTENERTIPOSERVICIO', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.OBTENERTIPOSERVICIO
GO

create procedure TROLLS.OBTENERTIPOSERVICIO
AS
BEGIN 
	select tser_id,tser_desc from TROLLS.Tipo_Servicio_Crucero
END
GO

IF OBJECT_ID('TROLLS.OBTENERPUERTO', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.OBTENERPUERTO
GO

create procedure TROLLS.OBTENERPUERTO
AS
BEGIN 
	select pue_id,pue_nombre from TROLLS.Puerto
END
GO

IF OBJECT_ID('TROLLS.OBTENERFABRICANTES', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.OBTENERFABRICANTES
GO

create procedure TROLLS.OBTENERFABRICANTES
AS
BEGIN 
	select fab_id,fab_desc from TROLLS.Fabricante_Crucero
END
GO

IF OBJECT_ID('TROLLS.LISTAR_CRUCEROS_EXISTENTES', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.LISTAR_CRUCEROS_EXISTENTES
GO

create procedure TROLLS.LISTAR_CRUCEROS_EXISTENTES
@CRU_ID VARCHAR(30),
@cru_mod_desc VARCHAR(50),
@cru_tser_id int,
@cru_fab_id int
as
begin
	select  
			C.cru_id as id,
			C.cru_mod as Modelo,
			(select fab_desc from TROLLS.Fabricante_Crucero where fab_id=cru_fab_id) as Marca,
			(select tser_desc from TROLLS.Tipo_Servicio_Crucero where tser_id=cru_tser_id) as Tipo_Servicio,
			c.cru_fecha_alta as Fecha_Alta,
			c.cru_baja_fuera_servicio as Baja_Fuera_Servicio,
			c.cru_baja_vida_util as Baja_Vida_Util,
			c.cru_fecha_fuera_servicio as Fecha_Fuera_Servicio,
			c.cru_fecha_reinicio_servicio as Fecha_Reinicio_Servicio,
			c.cru_fecha_baja_definitiva as Fecha_Baja_Definitiva
	from TROLLS.Crucero C
		WHERE C.cru_id LIKE ISNULL('%' + @CRU_ID + '%', '%')
			  AND C.cru_mod LIKE ISNULL('%' + @cru_mod_desc + '%', '%')
              AND (@cru_tser_id is null or C.cru_tser_id = @cru_tser_id)
              AND (@cru_fab_id is null or C.cru_fab_id = @cru_fab_id);
end
go

IF OBJECT_ID('TROLLS.OBTENER_CRUCERO', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.OBTENER_CRUCERO
GO

create procedure TROLLS.OBTENER_CRUCERO @ID char(30)
as
begin
	SELECT cru_id,cru_mod,cru_fab_id,cru_tser_id,cru_fecha_alta,cru_baja_fuera_servicio,cru_baja_vida_util,cru_fecha_fuera_servicio,cru_fecha_reinicio_servicio,cru_fecha_baja_definitiva FROM TROLLS.Crucero where cru_id = @ID
end
GO

IF OBJECT_ID('TROLLS.OBTENER_CABINA_CRUCERO', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.OBTENER_CABINA_CRUCERO
GO

create procedure TROLLS.OBTENER_CABINA_CRUCERO @ID char(30)
as
begin
	SELECT cc_piso,cc_nro,cc_tcab_id,cc_id FROM TROLLS.Cabinas_Crucero where cc_cru_id = @ID
end
GO

IF OBJECT_ID('TROLLS.OBTENERDESCTIPOCABINA', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.OBTENERDESCTIPOCABINA
GO

create procedure TROLLS.OBTENERDESCTIPOCABINA @ID int
as
begin
	SELECT tcab_tipo FROM TROLLS.Tipo_Cabina where tcab_id = @ID
end
GO

IF OBJECT_ID('TROLLS.OBTENERTIPOSCABINA', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.OBTENERTIPOSCABINA
GO

create procedure TROLLS.OBTENERTIPOSCABINA
AS
BEGIN 
	select tcab_id,tcab_tipo from TROLLS.Tipo_Cabina
END
GO


IF OBJECT_ID('TROLLS.CREAR_CRUCERO', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.CREAR_CRUCERO
GO

--Crear Crucero
create procedure TROLLS.CREAR_CRUCERO 
@cru_id char(30), 
@cru_mod varchar(50), 
@cru_fab_id int, 
@cru_tser_id int,
@cru_fecha_alta datetime
as
begin
	insert into TROLLS.Crucero(cru_id,cru_mod,cru_fab_id,cru_tser_id,cru_fecha_alta) values (@cru_id,@cru_mod,@cru_fab_id,@cru_tser_id,@cru_fecha_alta)
end
go

IF OBJECT_ID('TROLLS.CREAR_CABINA_CRUCERO', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.CREAR_CABINA_CRUCERO
GO

--Crear Cabina Crucero
create procedure TROLLS.CREAR_CABINA_CRUCERO
@cru_id char(30),
@cc_piso numeric(18,0),  
@cc_nro numeric(18,0), 
@cc_tcab_id int
as
begin
	insert into TROLLS.Cabinas_Crucero(cc_cru_id,cc_piso,cc_nro,cc_tcab_id) values (@cru_id,@cc_piso,@cc_nro,@cc_tcab_id)
end
go

IF OBJECT_ID('TROLLS.CREAR_CABINA_CRUCERO_REEMPLAZO', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.CREAR_CABINA_CRUCERO_REEMPLAZO
GO

create procedure TROLLS.CREAR_CABINA_CRUCERO_REEMPLAZO
@cru_id_orginal char(30),
@cru_id_reemplazo char(30)
as
begin
	INSERT INTO TROLLS.Cabinas_Crucero(cc_cru_id,cc_piso,cc_tcab_id,cc_nro)
	select @cru_id_reemplazo
	,cc_piso
	,cc_tcab_id
	,cc_nro
	from TROLLS.Cabinas_Crucero where cc_cru_id=@cru_id_orginal
end
go

IF OBJECT_ID('TROLLS.MODIFICAR_CRUCERO', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.MODIFICAR_CRUCERO
GO

--Modificar Crucero
create procedure TROLLS.MODIFICAR_CRUCERO
@cru_id char(30), 
@cru_mod varchar(50), 
@cru_fab_id int, 
@cru_tser_id int
as
begin
	UPDATE TROLLS.Crucero SET cru_mod=@cru_mod,cru_fab_id=@cru_fab_id,cru_tser_id=@cru_tser_id where cru_id=@cru_id
end
go

IF OBJECT_ID('TROLLS.VALIDAR_CRUCERO', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.VALIDAR_CRUCERO
GO

--Validar Crucero
create procedure TROLLS.VALIDAR_CRUCERO
@cru_id char(30)
as
begin
	SELECT 1 FROM TROLLS.CRUCERO WHERE cru_id = @cru_id
end
go

IF OBJECT_ID('TROLLS.VALIDAR_VIAJES_PENDIENTES', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.VALIDAR_VIAJES_PENDIENTES
GO

--Validar Crucero
create procedure TROLLS.VALIDAR_VIAJES_PENDIENTES
@cru_id char(30),
@cru_fecha_baja datetime
as
begin
	select 1 from TROLLS.Viaje where via_cru_id = @cru_id and via_fecha_salida >= @cru_fecha_baja
end
go


IF OBJECT_ID('TROLLS.MODIFICAR_CABINA_CRUCERO', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.MODIFICAR_CABINA_CRUCERO
GO

--Modificar Cabina Crucero
create procedure TROLLS.MODIFICAR_CABINA_CRUCERO
@cc_id numeric(18,0),
@cc_piso numeric(18,0),  
@cc_nro numeric(18,0), 
@cc_tcab_id numeric(18,0)
as
begin 
	UPDATE TROLLS.Cabinas_Crucero SET cc_nro=@cc_nro,cc_piso=@cc_piso,cc_tcab_id=@cc_tcab_id where cc_id=@cc_id
end
go

IF OBJECT_ID('TROLLS.CANCELAR_VIAJES', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.CANCELAR_VIAJES
GO

create procedure TROLLS.CANCELAR_VIAJES
@cru_id char(30), 
@cru_fecha_baja_fuera_servicio datetime,
@cru_fecha_reinicio_servicio datetime,
@can_motivo varchar(100)
as
begin

	DECLARE @CANCELACION_TEMP TABLE 
	(
	pas_id NUMERIC(18,0)
	);

	INSERT INTO @CANCELACION_TEMP 
	(pas_id)
	SELECT
    pas_id	  
	FROM TROLLS.Pasaje
	WHERE pas_via_id in (select via_id from TROLLS.Viaje where via_cru_id = @cru_id and via_fecha_salida >= @cru_fecha_baja_fuera_servicio)
	

	UPDATE TROLLS.Pasaje SET pas_estado = 0 where pas_id in (select pas_id from @CANCELACION_TEMP)

	INSERT INTO TROLLS.Cancelacion_Pasaje
	(can_pas_id,can_motivo)
	SELECT
    pas_id
	,@can_motivo	  
	FROM @CANCELACION_TEMP
end
go

IF OBJECT_ID('TROLLS.CRUCERO_BAJA_SERVICIO', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.CRUCERO_BAJA_SERVICIO
GO

create procedure TROLLS.CRUCERO_BAJA_SERVICIO
@cru_id char(30), 
@cru_fecha_baja_fuera_servicio datetime,
@cru_fecha_reinicio_servicio datetime
as
begin
		UPDATE TROLLS.CRUCERO SET cru_fecha_reinicio_servicio = @cru_fecha_reinicio_servicio, cru_fecha_fuera_servicio= @cru_fecha_baja_fuera_servicio, cru_baja_fuera_servicio=1 where cru_id = @cru_id
end
go


IF OBJECT_ID('TROLLS.CANCELAR_VIAJES_BAJA_DEFINITIVA', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.CANCELAR_VIAJES_BAJA_DEFINITIVA
GO

create procedure TROLLS.CANCELAR_VIAJES_BAJA_DEFINITIVA
@cru_id char(30), 
@cru_fecha_baja_definitiva datetime,
@can_motivo varchar (100)
as
begin

	DECLARE @CANCELACION_TEMP TABLE 
	(
	pas_id NUMERIC(18,0)
	);

	INSERT INTO @CANCELACION_TEMP 
	(pas_id)
	SELECT
    pas_id	  
	FROM TROLLS.Pasaje
	WHERE pas_via_id in (select via_id from TROLLS.Viaje where via_cru_id = @cru_id and via_fecha_salida >= @cru_fecha_baja_definitiva)
	

	UPDATE TROLLS.Pasaje SET pas_estado = 0 where pas_id in (select pas_id from @CANCELACION_TEMP)

	INSERT INTO TROLLS.Cancelacion_Pasaje
	(can_pas_id,can_motivo)
	SELECT
    pas_id
	,@can_motivo	  
	FROM @CANCELACION_TEMP
end
go

IF OBJECT_ID('TROLLS.CRUCERO_BAJA_DEFINITIVA', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.CRUCERO_BAJA_DEFINITIVA
GO

create procedure TROLLS.CRUCERO_BAJA_DEFINITIVA
@cru_id char(30), 
@cru_fecha_baja_definitiva datetime
as
begin
	UPDATE TROLLS.CRUCERO SET cru_fecha_baja_definitiva = @cru_fecha_baja_definitiva, cru_baja_vida_util=1  where cru_id = @cru_id
end
go

IF OBJECT_ID('TROLLS.ACTUALIZAR_VIAJES_REEMPLAZO', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.ACTUALIZAR_VIAJES_REEMPLAZO
GO

create procedure TROLLS.ACTUALIZAR_VIAJES_REEMPLAZO
@cru_id_original char(30),
@cru_id_reemplazo char(30),
@cru_fecha_baja_definitiva datetime
as
begin
	UPDATE TROLLS.Viaje SET  via_cru_id=@cru_id_reemplazo
	where via_id in (SELECT via_id  FROM TROLLS.Viaje
					 where via_cru_id = @cru_id_original and via_fecha_salida >= @cru_fecha_baja_definitiva)	
end
go

IF OBJECT_ID('TROLLS.REPROGRAMAR_VIAJES', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.REPROGRAMAR_VIAJES
GO

create procedure TROLLS.REPROGRAMAR_VIAJES
@cru_id char(30),
@cru_fecha_baja_fuera_servicio datetime, 
@cru_fecha_reinicio_servicio datetime,
@dias int
as
begin
	UPDATE TROLLS.Viaje SET via_fecha_salida = dateadd(day, @dias , via_fecha_salida), via_fecha_llegada = dateadd(day, @dias , via_fecha_llegada), via_fecha_llegada_estimada = dateadd(day, @dias , via_fecha_llegada_estimada)  
	where via_id in (SELECT via_id  FROM TROLLS.Viaje
					 where via_cru_id = @cru_id and via_fecha_salida >= @cru_fecha_baja_fuera_servicio)	
end
go

IF OBJECT_ID('TROLLS.LISTAR_CRUCEROS_REEMPLAZO', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.LISTAR_CRUCEROS_REEMPLAZO
GO

create procedure TROLLS.LISTAR_CRUCEROS_REEMPLAZO
@cru_id_original char(30),
@cru_fecha_baja_definitiva datetime
as
begin
select cru_id FROM [TROLLS].Crucero where not cru_id in (
select via_cru_id from [TROLLS].[Viaje] where [via_fecha_salida] between 
(SELECT MIN(via_fecha_salida)
  FROM [GD1C2019].[TROLLS].[Viaje]
  where via_cru_id = @cru_id_original and via_fecha_salida >= @cru_fecha_baja_definitiva)
and
(SELECT MAX(via_fecha_salida)
  FROM [GD1C2019].[TROLLS].[Viaje]
  where via_cru_id = @cru_id_original and via_fecha_salida >= @cru_fecha_baja_definitiva)
and [via_fecha_llegada] between
(SELECT MIN(via_fecha_llegada)
  FROM [GD1C2019].[TROLLS].[Viaje]
  where via_cru_id = @cru_id_original and via_fecha_salida >= @cru_fecha_baja_definitiva)
  and
(SELECT MAX(via_fecha_llegada)
  FROM [GD1C2019].[TROLLS].[Viaje]
  where via_cru_id = @cru_id_original and via_fecha_salida >= @cru_fecha_baja_definitiva) ) and not cru_id = @cru_id_original and [cru_baja_fuera_servicio]=0 and [cru_baja_vida_util]=0
  /* mismas cabinas */
end
go

IF OBJECT_ID('TROLLS.LISTAR_CRUCEROS_VIAJE', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.LISTAR_CRUCEROS_VIAJE
GO

create procedure TROLLS.LISTAR_CRUCEROS_VIAJE
@via_fecha_salida datetime,
@via_fecha_llegada datetime
as
begin
select cru_id as Crucero, [cru_mod] as Modelo, (select fab_desc from TROLLS.Fabricante_Crucero where fab_id= [cru_fab_id]) as Marca,  (select tser_desc from TROLLS.Tipo_Servicio_Crucero where tser_id=cru_tser_id) as Tipo_Servicio  FROM [TROLLS].Crucero where not cru_id in (
select via_cru_id from [TROLLS].[Viaje] 
where ([via_fecha_salida] >= @via_fecha_salida and [via_fecha_salida] <= @via_fecha_llegada) or (@via_fecha_salida>= [via_fecha_llegada] and [via_fecha_llegada] >= @via_fecha_llegada ) )
and [cru_baja_fuera_servicio]=0 and [cru_baja_vida_util]=0
end
go

IF OBJECT_ID('TROLLS.LISTAR_RECORRIDO', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.LISTAR_RECORRIDO
GO

create procedure TROLLS.LISTAR_RECORRIDO
@puerto_desde varchar(100),
@puerto_hasta varchar(100)
as
begin
SELECT R.[rec_id] as Recorrido
      ,P.pue_nombre as Puerto_Desde
      ,P2.pue_nombre as Puerto_Hasta
  FROM [TROLLS].[Recorrido] R inner join [TROLLS].Puerto P on R.[rec_pue_id_desde] = P.pue_id inner join [TROLLS].Puerto P2 on R.[rec_pue_id_hasta] = P2.pue_id
  where R.[rec_estado]=1 and P.pue_nombre LIKE ISNULL('%' + @puerto_desde + '%', '%')
			  AND P2.pue_nombre LIKE ISNULL('%' + @puerto_hasta + '%', '%')
end
go

IF OBJECT_ID('TROLLS.CREAR_VIAJE', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.CREAR_VIAJE
GO

--Crear Viaje
create procedure TROLLS.CREAR_VIAJE
@cru_id char(30), 
@rec_id int, 
@via_fecha_salida datetime,
@via_fecha_llegada datetime
as
begin
	insert into TROLLS.Viaje([via_cru_id],[via_rec_id],[via_fecha_salida],[via_fecha_llegada],[via_fecha_llegada_estimada]) values (@cru_id,@rec_id,@via_fecha_salida,@via_fecha_llegada,@via_fecha_llegada)
end
go

IF OBJECT_ID('TROLLS.OBTENER_ID_VIAJE', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.OBTENER_ID_VIAJE
GO
create procedure TROLLS.OBTENER_ID_VIAJE 
@cru_id char(30), 
@rec_id int, 
@via_fecha_salida datetime,
@via_fecha_llegada datetime
as
begin
	select via_id from TROLLS.Viaje where via_cru_id = @cru_id and via_rec_id = @rec_id and via_fecha_salida=@via_fecha_salida and via_fecha_llegada=@via_fecha_llegada
end
go

IF OBJECT_ID('TROLLS.CREAR_CABINA_VIAJE', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.CREAR_CABINA_VIAJE
GO

create procedure TROLLS.CREAR_CABINA_VIAJE
@via_id int, 
@cru_id char(30)
as
begin
	INSERT INTO TROLLS.Cabina
	([cab_nro],[cab_piso],[cab_tcab_id],[cab_via_id],[cab_ocupada])
	SELECT
    [cc_nro]
	,[cc_piso]
	,[cc_tcab_id]
	,@via_id
	,0  
	FROM [TROLLS].[Cabinas_Crucero] where [cc_cru_id] = @cru_id
end
go

IF OBJECT_ID('TROLLS.LISTAR_VIAJE', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.LISTAR_VIAJE
GO

create procedure TROLLS.LISTAR_VIAJE
@pue_id_desde varchar(100),
@pue_id_hasta varchar(100),
@via_fecha_salida datetime,
@via_fecha_llegada datetime
as
begin
select via_id from [TROLLS].[Viaje] where via_rec_id in
(SELECT R.[rec_id]
  FROM [GD1C2019].[TROLLS].[Recorrido] R join [TROLLS].[Recorrido_Tramo] RXT on R.rec_id=RXT.rec_id join [TROLLS].[Tramos] T on RXT.tra_id = T.tra_id
  where R.[rec_pue_id_desde] = @pue_id_desde and T.tra_hasta = @pue_id_hasta) and
  via_cru_id in (select cru_id from [TROLLS].[Crucero] where cru_baja_fuera_servicio=0 and cru_baja_vida_util=0) and
  ([via_fecha_salida] >= @via_fecha_salida and [via_fecha_salida] <= @via_fecha_llegada) or (@via_fecha_salida>= [via_fecha_llegada] and [via_fecha_llegada] >= @via_fecha_llegada ) 
end
go

-----------------------------------------------------------------------------------------------
--Obtener Recorridos

IF OBJECT_ID('TROLLS.OBTENER_RECORRIDO', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.OBTENER_RECORRIDO
GO

create procedure TROLLS.OBTENER_RECORRIDO @ID char(30)
as
begin
	SELECT rec_id
		  ,rec_pue_id_desde
		  ,rec_pue_id_hasta
		  ,rec_estado
	FROM TROLLS.Recorrido where rec_id = @ID
end
GO

--Listar Recorridos

IF OBJECT_ID('TROLLS.LISTAR_RECORRIDOS', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.LISTAR_RECORRIDOS
GO

CREATE PROCEDURE TROLLS.LISTAR_RECORRIDOS
@rec_id NUMERIC(18,0),
@rec_pue_desde VARCHAR(100),
@rec_pue_hasta VARCHAR(100)
AS
BEGIN
  	SELECT rec_id as Código_recorrido
		  ,@rec_pue_desde as Puerto_Salida
		  ,@rec_pue_hasta as Puerto_Destino
		  ,(select sum(tra_precio_base) from [GD1C2019].[TROLLS].Recorrido_Tramo RT 
			join [GD1C2019].[TROLLS].Tramos T on T.tra_id = RT.tra_id
		    where RT.rec_id = rec_id) as Precio
		  ,rec_estado as Estado
	FROM [GD1C2019].[TROLLS].[Recorrido]
			WHERE (@rec_id is null or rec_id = @rec_id)
			  AND (@rec_pue_desde is null or rec_pue_id_desde = @rec_pue_desde)
			  AND (@rec_pue_hasta is null or rec_pue_id_hasta = @rec_pue_hasta)			  
		--	  AND C.cru_mod LIKE ISNULL('%' + @cru_mod_desc + '%', '%')
	group by rec_id,rec_pue_id_desde,rec_pue_id_hasta,rec_estado
END
GO

--Obtener Puertos

IF OBJECT_ID('TROLLS.OBTENER_PUERTO', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.OBTENER_PUERTO
GO

create procedure TROLLS.OBTENER_PUERTO
AS
BEGIN 
	select pue_id,pue_nombre,pue_estado from TROLLS.Puerto
END
GO

--Obtener Tramos

IF OBJECT_ID('TROLLS.OBTENER_TRAMOS', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.OBTENER_TRAMOS
GO

CREATE PROCEDURE TROLLS.OBTENER_TRAMOS
AS
BEGIN
	SELECT tra_id
		  ,tra_desde
		  ,tra_hasta
		  ,tra_precio_base
	FROM TROLLS.Tramos
END
GO

--Validar Tramos

IF OBJECT_ID('TROLLS.VALIDAR_TRAMO', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.VALIDAR_TRAMO
GO

CREATE PROCEDURE TROLLS.VALIDAR_TRAMO
@tra_desde NUMERIC(18,0),
@tra_hasta  NUMERIC(18,0)
AS
BEGIN
	SELECT tra_id
		  ,tra_precio_base
	FROM TROLLS.Tramos
			WHERE (tra_desde = @tra_desde)
			  AND (tra_hasta = @tra_hasta)	
END
GO

--Crear Recorridos

IF OBJECT_ID('TROLLS.CREAR_RECORRIDO', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.CREAR_RECORRIDO
GO

CREATE PROCEDURE TROLLS.CREAR_RECORRIDO
@rec_pue_desde varchar(100),
@rec_pue_hasta  varchar(100)
AS
BEGIN
	insert into TROLLS.Recorrido(rec_id,rec_pue_id_desde,rec_pue_id_hasta,rec_estado)
				values ((select max(rec_id)+1 from TROLLS.Recorrido)
						,(select pue_id FROM TROLLS.Puerto where pue_nombre = LTRIM(RTRIM(@rec_pue_desde)))
						,(select pue_id FROM TROLLS.Puerto where pue_nombre = LTRIM(RTRIM(@rec_pue_hasta)))
						,1)

	select max(rec_id) from TROLLS.Recorrido
END
GO

--Inserta en Recorrdo_Tramo. Se debe insertar de a uno desde la aplicacion

IF OBJECT_ID('TROLLS.INSERTAR_RECORRIDO_X_TRAMO', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.INSERTAR_RECORRIDO_X_TRAMO
GO

CREATE PROCEDURE TROLLS.INSERTAR_RECORRIDO_X_TRAMO
@rec_id numeric(18,0),
@tra_id numeric(18,0)
AS
BEGIN
	insert into TROLLS.Recorrido_Tramo(tra_id,rec_id,estado)
		values(@tra_id
			  ,@rec_id
			  ,1)
END
GO

--Modificar Recorridos

IF OBJECT_ID('TROLLS.MODIFICAR_RECORRIDO', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.MODIFICAR_RECORRIDO
GO


CREATE PROCEDURE TROLLS.MODIFICAR_RECORRIDO
@rec_id numeric(18,0),
@rec_pue_desde varchar(100),
@rec_pue_hasta  varchar(100),
@rec_estado bit
AS
BEGIN
	update TROLLS.Recorrido set 
		rec_pue_id_desde = (select pue_id from TROLLS.Puerto where pue_nombre = @rec_pue_desde),
		rec_pue_id_hasta = (select pue_id from TROLLS.Puerto where pue_nombre = @rec_pue_hasta),
		rec_estado = @rec_estado
	where rec_id = @rec_id
END
GO

IF OBJECT_ID('TROLLS.MODIFICAR_RECORRIDO_TRAMO', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.MODIFICAR_RECORRIDO_TRAMO
GO

CREATE PROCEDURE TROLLS.MODIFICAR_RECORRIDO_TRAMO
@rec_id numeric(18,0),
@tra_id numeric(18,0),
@estado bit
AS
BEGIN
	update TROLLS.Recorrido_Tramo set 
		estado = @estado
	where	rec_id = @rec_id
		AND	tra_id = @tra_id
END
GO

--Dar de baja Recorrido

IF OBJECT_ID('TROLLS.BAJA_RECORRIDO', 'P') IS NOT NULL
DROP PROCEDURE TROLLS.BAJA_RECORRIDO
GO

CREATE PROCEDURE TROLLS.BAJA_RECORRIDO
@rec_id numeric(18,0),
@motivo varchar(50)
AS
BEGIN
	if((select pas_id from TROLLS.PASAJE where pas_via_id = (select via_id from TROLLS.Viaje where via_rec_id = @rec_id)) IS NULL)
	BEGIN
		delete from TROLLS.Recorrido_Tramo
			where rec_id = @rec_id
	
		delete from TROLLS.Recorrido
			where rec_id = @rec_id
	END
	/*
	ELSE
	BEGIN
		
		update TROLLS.PASAJE
			set pas_cancelado = 1
			where pas_via_id = (select via_id from TROLLS.Viaje where via_rec_id = @rec_id)

		insert into TROLLS.Cancelaciones(can_via,can_motivo)
			values((select via_id from TROLLS.Viaje where via_rec_id = @rec_id), @motivo)
	
	END
	*/
END
GO

--Se borran sps/funciones utilizadas en la migracion
DROP PROCEDURE TROLLS.Z_MIGRACION_CLIENTES
DROP PROCEDURE TROLLS.Z_MIGRACION_RECORRIDO
DROP PROCEDURE TROLLS.Z_MIGRACION_CABINA_RESERVA_PASAJE
--Drop tabla maestra
drop table gd_esquema.Maestra;
go